<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>

<div id="login_frame">
    <form method="post" action="/register">

        <p><label class="label_input">用户名</label><input type="text" id="username" name="username" class="text_field"> </p>
        <p><label class="label_input">密码</label><input type="password" id="password" name="password"class="text_field"> </p>
        <p><label class="label_input">昵称</label><input type="text" id="nickname" name="nickname" class="text_field"> </p>

        <div id="login_control">
            <input type="submit" id="btn_login" value="注册">
        </div>
    </form>
</div>
</body>
</html>